.footer {
    background-color: #141414;  
    color: #FFFFFF; 
    padding: 150px 0px 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr min-content;    
}